body, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}


nav {
    background: #333;
    padding: 10px;
    top: 0;
    width: 100%;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}


h2 {
    margin-top: 20px;
}

p {
    margin-bottom: 20px;
}

.textbox,textarea {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


.projects {
    display: flex;
    gap: 20px; 
}

.p1, .p2 {
    flex: 1;
    border: 2px solid black;
    background-color: gray;
    color: black;
    padding: 10px;
}


html {
    scroll-behavior: smooth;
}


@media (max-width: 768px) {
    nav {
        text-align: center;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    .projects {
        flex-direction: column; 
    }

    .p1, .p2 {
        margin: 10px auto;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 18px;
    }

    p, .textbox, button {
        font-size: 14px;
    }
    textarea{
        height:25px ;
    }

    .textbox{
        height: 25px; /
    }
}
